.Nav {
    height: 7.5vh;
    width: 100%;
    vertical-align: -webkit-baseline-middle;
    background-color: black;
}

.NavTitle {
    position: relative;
    float: left;
    color: white;
    padding: 20px;
    font-size: 4em;
}

.Link {
    position: relative;
    float: right;
    padding: 20px;
    background: none;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 300%;
    text-decoration: none;
}

.Link:hover {
    text-decoration: underline;
}