.AboutParent {
    width: 100%;
    height: 100vh;
    background-color: grey;
}

.AboutContent {
    width: auto;
    max-width: 1250px;
    height: auto;
    min-height: 100vh;
    background-color: black;
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}

.ContentHeader {
    font-size: calc(32px + 1vw);
    text-decoration: underline;
    padding-bottom: 20px;
}

.AboutText {
    font-size: calc(16px + 1vw);
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 20px;
}