.Nav {
    height: 8vh;
    width: 100%;
    background-color: black;
}

.NavTitle {
    position: relative;
    float: left;
    color: white;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    font-size: 1rem;
}

.Button {
    position: relative;
    float: right;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    background: none;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 0.75rem;
    text-decoration: none;
}

.Button:hover {
    text-decoration: underline;
}

.Content {
    height: 92vh;
    width: 100%;
    background-color: black;
}

.ViewContent {
    height: 100%;
    width: 100%;
}