.Nav {
    height: 7.5vh;
    width: 100%;
    background-color: black;
}

.NavTitle {
    position: relative;
    float: left;
    color: white;
    margin-left: 20px;
    margin-top: 15px;
    font-size: 4em;
}

.Button {
    position: relative;
    float: right;
    margin-right: 20px;
    margin-top: 20px;
    background: none;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 4em;
    text-decoration: none;
}

.Button:hover {
    text-decoration: underline;
}

.Content {
    height: 92.5vh;
    width: 100%;
}

.ViewContent {
    height: 100%;
    width: 100%;
}