.Home {
    width: 100%;
    min-height: 100vh;
    background-color: grey;
}

.HomeContent {
    width: auto;
    max-width: 1250px;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    color: white;
}

.HomeTitle {
    font-size: calc(32px + 1vw);
    text-decoration: underline;
}

.HomeText {
    font-size: calc(16px + 1vw);
}