.Home {
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: hidden;
}

.HomeTitle {
    font-size: 300%;
    color: white;
    text-decoration: underline;
}

.HomeContent {
    font-size: 200%;
    color: white;
}